
table{
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.03);
    border-radius: 10px;
    margin: auto;
}

.main-div{
    background-color: aqua;
    height: 500px;
}
th, td{
    border: 3px solid #f2f2f2;
    padding: 10px 33px;
    text-align: center;
    color: grey;
}

th{
   
    text-transform: uppercase;
    font-weight: 500;
}
td{
    font-weight: bolder;
    font-size: 13px;
}

.post-class{
    text-transform: uppercase;
}

.fa{
    text-transform: uppercase;
}

.fa-edit{
    color: #63c76a;
}
.fa-trash{
    color: #ff0000;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    
}